/* line 5, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 12, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
body {
  margin: 0; }

/* line 31, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 40, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/* line 47, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 55, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
[hidden], template {
  display: none; }

/* line 63, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
a {
  background: transparent; }

/* line 69, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
a:active, a:hover {
  outline: 0; }

/* line 77, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 83, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 88, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 93, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 99, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 105, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 111, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 118, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 122, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 130, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
img {
  border: 0; }

/* line 135, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 143, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 148, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/* line 155, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 163, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 182, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 189, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 198, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
button, select {
  text-transform: none; }

/* line 208, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* line 215, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default; }

/* line 221, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 228, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 238, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

/* line 247, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 253, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 263, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 268, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 276, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 282, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 288, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 296, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 302, /data/fr710/projects/hacks/resin.io/PiPlot/sass/_normalize.scss */
td, th {
  padding: 0; }

/* line 22, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
*, *::before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

/* line 28, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
ul {
  padding: 0;
  list-style: none; }

/* line 34, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
html, body {
  background-color: #14181f;
  color: #f1f2f4;
  font-family: sans-serif;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif; }

/* line 46, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
#paperCanvas {
  background: white;
  background-image: url('../img/guides.svg'); }

/* line 52, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.wrap {
  max-width: 38em;
  width: 90%;
  margin: 0 auto; }

/* line 58, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.logo {
  width: 110px;
  height: 140px;
  margin: 2.5em auto 1em;
  display: block;
  background: url('../img/logo-bg.svg'); }

/* line 68, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.title, .intro, .instructions {
  text-align: center;
  font-weight: 300; }

/* line 73, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.title {
  font-size: 3em;
  font-weight: 700;
  margin: 0 0 0; }

/* line 79, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.intro {
  line-height: 1.2;
  margin: 0 0 1.6em; }

/* line 84, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.instructions {
  margin-bottom: 0 0 1.5em; }

/* line 88, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
.name {
  border: 0;
  appearance: none;
  font-weight: 400;
  width: 100%;
  letter-spacing: 0.05em;
  margin-bottom: 0.5em;
  background-color: #1f2229;
  font-size: 1.4em;
  border-radius: 0.1em;
  padding: 0.4em 0.6em;
  outline: none;
  -webkit-transition: all 0.25s;
  transition: all 0.25s; }
  /* line 102, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
  .name:focus {
    background-color: #23272d;
    -webkit-box-shadow: inset 0 0 0 2px #4b4e53;
    box-shadow: inset 0 0 0 2px #4b4e53; }

/* line 108, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
::-webkit-input-placeholder {
  color: #56595e;
  font-weight: 300; }

/* line 113, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
#save-btn {
  display: block;
  width: 100%;
  border: 0;
  padding: 0.4em 0.8em;
  appearance: none;
  font-weight: 400;
  margin: 0.5em 0 4em;
  font-weight: 300;
  font-size: 2em;
  background-color: #14181f;
  border: 2px solid #b9bbbe;
  border-radius: 0.15em;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  outline: none; }
  /* line 129, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
  #save-btn:focus {
    -webkit-box-shadow: inset 0 0 0 2px #b9bbbe;
    box-shadow: inset 0 0 0 2px #b9bbbe; }
  /* line 133, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
  #save-btn:hover {
    background-color: #1f2229; }

/* line 138, /data/fr710/projects/hacks/resin.io/PiPlot/sass/styles.scss */
#paperCanvas {
  border: 2px dashed black;
  margin-left: auto;
  margin-right: auto;
  display: block; }
